.recent-aside {

	// .recent-aside__item

	&__item {
		display: flex;
		border-bottom: 1px solid #dddddd;
		margin: 0px 0px 20px 0px;
		padding: 0px 0px 20px 0px;

		@media (max-width: $md4+px) {
			margin: 0px 0px 15px 0px;
			padding: 0px 0px 15px 0px;
		}

		&:last-child {
			border-bottom: none;
			margin: 0;
			padding: 0;
		}
	}

}