.swiper-slide {
	// height: auto; autoHeight

	&-active {
		
	}
}

// Default pagination
.swiper-pagination-bullet {
	width: 15px;
	height: 15px;
	line-height: 15px;
	background: transparent;
	border: 2px solid turquoise;
	opacity: 1;

	&-active {
		background-color: turquoise;
	}
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 0 15px;
}

// Main-slider
.main-slider.swiper-container-horizontal>.swiper-pagination-bullets {
	bottom: 25px;
}
.main-slider.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 0 5px;
}
.main-slider .swiper-pagination-bullet {
	width: 30px;
	height: 4px;
	background: #666666;
	opacity: 1;
	border-radius: 0;
	border: 0;

	&-active {
		background-color: #00aeef;
	}
}

// buttons 
.swiper-button-prev,
.swiper-button-next {
	position: absolute;
	top: 20px;
	margin: 0;
	background-color: transparent;
	width: 10px;
	height: 18px;
	color: #666666;

	&:hover {
		@media (min-width: $md2+px) {
			color: #019bad;

			&::after {
				color: #019bad;
			}
		}
	}
}

.swiper-button-prev {
	right: 30px;
	left: auto;
}
.swiper-button-next {
	right: 0px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
	position: absolute;
	font-family: "fontello";
	font-size: 18px;
}
.swiper-button-prev::after {
	content: "\e801";
}
.swiper-button-next::after {
	content: "\e802";
}

// numbers
.swiper-pagination-fraction {
	
}
.swiper-pagination-current {

}
.swiper-pagination-total {

}