.aside-page {

	display: flex;
	flex-direction: column;

	@media (max-width: $md2+px) {
		flex-direction: row;
		flex-wrap: wrap;
	}

	@media (max-width: 650px) {
		flex-direction: column;
	}

	// .aside-page__media

	&__media {
		padding: 35px 15px 30px 30px;
		border-bottom: 1px solid #dddddd;

		@media (max-width: $md2+px) {
			flex: 0 1 50%;
			order: 3;
			padding: 35px 15px 0px 0px;
		}

		@media (max-width: $md3+px) {
			padding: 30px 15px 25px 0px;
		}

		@media (max-width: 650px) {
			padding: 30px 0px 25px 0px;
		}

		@media (max-width: $md4+px) {
			padding: 25px 0px 20px 0px;
		}
	}

	// .aside-page__recent-post

	&__recent-post {
		padding: 35px 15px 30px 30px;
		border-bottom: 1px solid #dddddd;

		@media (max-width: $md2+px) {
			flex: 0 1 50%;
			order: 1;
			padding: 35px 15px 30px 0px;
		}

		@media (max-width: $md3+px) {
			padding: 30px 15px 25px 0px;
		}

		@media (max-width: 650px) {
			padding: 30px 0px 25px 0px;
		}

		@media (max-width: $md4+px) {
			padding: 25px 0px 20px 0px;
		}
	}

	// .aside-page__categories

	&__categories {
		padding: 35px 15px 35px 30px;

		@media (max-width: $md2+px) {
			flex: 0 1 50%;
			order: 2;
			padding: 35px 0px 30px 15px;
		}

		@media (max-width: $md3+px) {
			padding: 30px 0px 25px 15px;
		}

		@media (max-width: 650px) {
			padding: 30px 0px 25px 0px;
		}

		@media (max-width: $md4+px) {
			padding: 25px 0px 20px 0px;
		}
	}

	// .aside-page__block-adv

	&__block-adv {
		padding: 0px 15px 0px 30px;

		@media (max-width: $md2+px) {
			flex: 0 1 50%;
			order: 4;
			padding: 35px 0px 0px 15px;
		}

		@media (max-width: $md3+px) {
			padding: 30px 0px 0px 15px;
		}

		@media (max-width: 650px) {
			padding: 30px 0px 0px 0px;
		}

		@media (max-width: $md4+px) {
			padding: 25px 0px 0px 0px;
		}
	}

}