.footer-page {
	background-color: #222222;
	padding: 50px 0px 25px;

	@media (max-width: $md1+px) {
		padding: 45px 0px 25px;
	}

	@media (max-width: $md2+px) {
		padding: 40px 0px 25px;
	}

	@media (max-width: $md3+px) {
		padding: 35px 0px 20px;
	}

	@media (max-width: $md4+px) {
		padding: 30px 0px 15px;
	}
	// .footer-page__row

	&__row {
		display: flex;
		margin: -30px;

		@media (max-width: $md1+px) {
			margin: -15px;
		}

		@media (max-width: $md2+px) {
			flex-wrap: wrap;
		}

	}

	// .footer-page__column

	&__column {
		padding: 30px;

		@media (max-width: $md1+px) {
			padding: 15px;
		}

		&:first-child {
			flex: 0 0 370px;

			@media (max-width: $md2+px) {
				flex: 0 1 50%;
				order: 1;
			}

			@media (max-width: 600px) {
				flex: 0 1 100%;
			}
		}

		&:nth-child(2) {

			@media (max-width: $md2+px) {
				flex: 0 1 50%;
				order: 3;
			}
		}

		&:nth-child(3) {
			
			@media (max-width: $md2+px) {
				flex: 0 1 50%;
				order: 4;
			}

		}

		&:last-child {
			flex: 1 1 auto;

			@media (max-width: $md2+px) {
				flex: 0 1 50%;
				order: 2;
			}

			@media (max-width: 600px) {
				flex: 0 1 100%;
			}
		}
	}

	// .footer-page__logo

	&__logo {
		display: block;
		margin: 0px 0px 20px 0px;
	}

	// .footer-page__descr

	&__descr {
		font-size: 14px;
		line-height: 25px;
		font-weight: 400;
		letter-spacing: 0.12em;
		color: #dddddd;
	}

	// .footer-page__newsletter-form

	&__newsletter-form {
		display: flex;
		height: 45px;
		width: 100%;
	}

	// .footer-page__newsletter-input

	&__newsletter-input {
		padding: 0px 20px;
		max-width: 100%;
		width: 100%;
		font-size: 12px;
		font-weight: 400;
		letter-spacing: 0.12em;
		color: #ffffff;
		background-color: #656565;

		&::placeholder {
			color: #ffffff;
		}
	}

	// .footer-page__newsletter-btn

	&__newsletter-btn {
		padding: 0px 9px;
		font-size: 12px;
		font-weight: 700;
		letter-spacing: 0.12em;
		color: #ffffff;
		background-color: #00aeef;
	}

	// .footer-page__copyright

	&__copyright {
		margin: 45px 0px 0px 0px;
		padding: 25px 0px 0px 0px;
		border-top: 1px solid #dddddd;
		text-align: center;
		font-size: 14px;
		font-weight: 400;
		letter-spacing: 0.02em;
		color: #ffffff;

		@media (max-width: $md2+px) {
			margin: 35px 0px 0px 0px;
		}

		@media (max-width: $md3+px) {
			margin: 30px 0px 0px 0px;
			padding: 20px 0px 0px 0px;
		}

		@media (max-width: $md4+px) {
			margin: 25px 0px 0px 0px;
			padding: 15px 0px 0px 0px;
		}
	}
}