.header {

	// .header__top

	&__top {
	}

	// .header__row

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 25px 0px;

		@media (max-width: $md3+px) {
			flex-direction: column;
			margin: 15px 0px;
		}
		
	}

	// .header__logo

	&__logo {
		display: block;
		margin: 0px 187px 0px 0px;

		@media (max-width: $md1+px) {
			margin: 0px 150 / $maxWidthContainer * 100vw 0px 0px;
		}

		@media (max-width: $md3+px) {
			margin: 0px 0px 15px 0px;
		}
	}

	// .header__block-adv

	&__block-adv {
		display: block;
		position: relative;
		width: 100%;

		&::before {
			content: "BANNER AD 728x90";
			position: absolute;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			font-size: 20px;
			line-height: 25px;
			font-weight: 700;
			letter-spacing: 0.12em;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			padding: 20px 40px;
			color: #fff;
			background: rgba(29, 27, 26, 0.70);

			@media (max-width: $md4+px) {
				text-align: center;
				justify-content: center;
			}
		}

		&::after {
			content: "";
			position: absolute;
			top: 10px;
			left: 10px;
			right: 10px;
			bottom: 10px;
			border: 1px solid #fff;
		}

		img {
			max-width: 100%;
			width: 100%;
			height: 90px;
			object-fit: cover;
			object-position: top;
			background-color: #222222;
		}
	}

	// .header__logo

	&__logo {
		position: relative;
		z-index: 5;
	}

	// .header__menu

	&__menu {

	}

}

.header-top {
	background-color: #fafafa;
	border: 1px solid #dddddd;
	// .header-top__row

	&__row {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		padding: 19px 0px;

		@media (max-width: 600px) {
			flex-direction: column;

		}
	}

	// .header-top__menu

	&__menu {

		@media (max-width: 600px) {
			margin: 0px 0px 15px 0px;
		}
	}

	// .header-top__menu-list

	&__menu-list {
		display: flex;
	}

	// .header-top__menu-item

	&__menu-item {
		margin: 0px 25px 0px 0px;

		&:last-child {
			margin: 0;
		}
	}

	// .header-top__menu-link

	&__menu-link {
		font-size: 14px;
		font-weight: 400;
		letter-spacing: 0.04em;
		color: #666666;
		border-bottom: 1px solid transparent;
		transition: color .3s, border .3s;

		@media (min-width: $md2+px) {
			&:hover {
				color: #03a5e1;
				border-bottom: 1px solid #03a5e1;
			}
		}
	}

	// .header-top__media

	&__media {
	}
}

.header-media {

	// .header-media__list

	&__list {
		display: flex;
	}

	// .header-media__item

	&__item {
		margin: 0px 20px 0px 0px;

		&:last-child {
			margin: 0;
		}
	}

	// .header-media__link

	&__link {
		font-size: 15px;
		color: #666666;
		transition: color .3s;

		@media (min-width: $md2+px) {
			&:hover {
				color: #00aeef;
			}
		}
	}
}
