.lifestyle-page {
	position: relative;
	
	// .lifestyle-page__slider-item

	&__slider-item {
		margin: 0px 0px 20px 0px;
	}

	// .lifestyle-page__item

	&__item {
		display: flex;
	
		@media (max-width: 600px) {
			flex-direction: column;
		}
	}
}
