.main-slider {
	padding: 0px 0px 60px 0px;

	@media (max-width: $md4+px) {
		padding: 0px 0px 50px 0px;
	}

	// .main-slider__row

	&__row {
		display: flex;
		flex-wrap: wrap;
		margin: -7.5px;
	}

	// .main-slider__column

	&__column {
		flex: 0 1 50%;
		padding: 7.5px;

		@media (max-width: $md3+px) {
			flex: 0 1 100%;
		}

		&--sm {
			.slider-post {
				margin: 0px 0px 15px 0px;

				&:last-child {
					margin: 0;
				}
			}
		}
	}
}
.slider-post {

	// .slider-post__img

	&__img {
		display: block;
		position: relative;
			
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			background: rgba(29, 27, 26, .6);
		}

		@media (min-width: $md2+px) {
			&:hover {
				.slider-post__overlay-title {
					color: #00aeef;
				}
			}
		}

		&--sm {
			img {
				height: 192px;

				@media (max-width: $md3+px) {
					height: 200px;
				}

				@media (max-width: $md4+px) {
					height: 150px;
				}
			}
		}
	
		&--bg {
			img {
				height: 400px;

				@media (max-width: $md3+px) {
					height: 250px;
				}

				@media (max-width: $md4+px) {
					height: 200px;
				}
			}
		}

		img {
			max-width: 100%;
			width: 100%;
			object-fit: cover;
		}

	}

	// .slider-post__overlay

	&__overlay {
		position: absolute;
		display: flex;
		flex-direction: column;
		bottom: 30px;
		left: 30px;
		right: 30px;
		color: #fff;

		@media (max-width: $md2+px) {
			bottom: 20px;
			left: 20px;
		}
		@media (max-width: $md4+px) {
			bottom: 15px;
			left: 15px;
		}
	}

	// .slider-post__overlay-category

	&__overlay-category {
		font-size: 14px;
		font-weight: 700;
		letter-spacing: 0.02em;
		color: #00aeef;
		margin: 0px 0px 10px 0px;
	}

	// .slider-post__overlay-title

	&__overlay-title {
		flex: 1 1 100%;
		font-size: 30px;
		line-height: 35px;
		font-weight: 700;
		letter-spacing: 0.02em;
		margin: 0px 0px 15px 0px;
		transition: color .3s;
		width: 100%;
		height: calc(35px * 2);
		overflow: hidden;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;

		@media (max-width: 850px) {
			font-size: 28px;
			line-height: 33px;
			height: calc(33px * 2);
		}
		@media (max-width: $md3+px) {
			-webkit-line-clamp: 3;
			height: calc(33px * 3);
		}
		@media (max-width: $md4+px) {
			font-size: 20px;
			line-height: 23px;
			height: calc(23px * 3);
			margin: 0px 0px 10px 0px;
		}
	}

	// .slider-post__overlay-date

	&__overlay-date {
		font-size: 14px;
		font-weight: 700;
		letter-spacing: 0.02em;
	}
}
