.overlay-post {
	// .overlay-post__img

	&__img {
		position: relative;
			
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			background: rgba(29, 27, 26, 0.70);
		}

		img {
			max-width: 100%;
			width: 100%;
			height: 340px;
			object-fit: cover;
			background-color: #222222;

			@media (max-width: $md3+px) {
				height: 290px;
			}
		}
	}

	// .overlay-post__overlay

	&__overlay {
		position: absolute;
		bottom: 30px;
		left: 30px;
		color: #fff;

		@media (max-width: $md4+px) {
			bottom: 15px;
			left: 15px;
		}
	}

	// .overlay-post__overlay-title

	&__overlay-title {
		display: block;
		font-size: 16px;
		line-height: 20px;
		font-weight: 700;
		letter-spacing: 0.02em;
		color: #ffffff;
		margin: 0px 0px 15px 0px;
		transition: color .3s;

		@media (min-width: $md2+px) {
			&:hover {
				color: #00aeef;
			}
		}
	}

	// .overlay-post__overlay-row

	&__overlay-row {
		display: flex;
		font-size: 12px;
		font-weight: 600;
		letter-spacing: 0.02em;
		color: #ffffff;

		@media (max-width: $md4+px) {
			flex-direction: column;
		}
	}

	// .overlay-post__overlay-date

	&__overlay-date {
		margin: 0px 15px 0px 0px;

		@media (max-width: $md4+px) {
			margin: 0px 0px 5px 0px;
		}
	}

	// .overlay-post__overlay-author

	&__overlay-author {
		margin: 0px 15px 0px 0px;

		@media (max-width: $md4+px) {
			margin: 0px 0px 5px 0px;
		}

		a {
			color: #00aeef;
			border-bottom: 1px solid transparent;
			transition: border .3s;

			@media (min-width: $md2+px) {
				&:hover {
					border-bottom: 1px solid #00aeef;
				}
			}
		}
	}

	// .overlay-post__overlay-comments

	&__overlay-comments {
		color: #ffffff;
		border-bottom: 1px solid transparent;
		transition: border .3s, color .3s;

		span {
			color: #00aeef;
		}

		@media (min-width: $md2+px) {
			&:hover {
				border-bottom: 1px solid #00aeef;
				color: #00aeef;
			}
		}
	}
}
