.page-category {
	padding: 50px 0px 35px;

	@media (max-width: $md4+px) {
		padding: 30px 0 25px;
	}
	// .page-category__row

	&__row {
		display: flex;
		margin: -12.5px;

		@media (max-width: $md2+px) {
			flex-direction: column;
		}
	}

	// .page-category__content

	&__content {
		flex: 1 1 auto;
		padding: 12.5px;
	}

	// .page-category__aside

	&__aside {
		flex: 0 0 370px;
		padding: 12.5px;

		@media (max-width: $md2+px) {
			display: flex;
			flex-wrap: wrap;
			margin: -10px;
		}

		@media (max-width: 650px) {
			flex-direction: column;
		}
	}
}
.content-category {

	// .content-category__item

	&__item {
		display: flex;
		border-bottom: 1px solid #dddddd;
		margin: 0px 0px 30px 0px;
		padding: 0px 0px 30px 0px;

		@media (max-width: 600px) {
			display: block;
			margin: 0px 0px 15px 0px;
			padding: 0px 0px 15px 0px;
		}
	}

}
.category-aside {

	// .category-aside__social-profile

	&__social-profile {
		margin: 0px 0px 50px 0px;

		@media (max-width: $md1+px) {
			margin: 0px 0px 40px 0px;
		}

		@media (max-width: $md2+px) {
			flex: 0 1 50%;
			padding: 10px;
			margin: 0px 0px 30px 0px;
		}

		@media (max-width: $md3+px) {
			margin: 0px 0px 25px 0px;
		}

		@media (max-width: $md4+px) {
			margin: 0px 0px 15px 0px;
		}
	}

	// .category-aside__subscribe

	&__subscribe {
		margin: 0px 0px 50px 0px;

		@media (max-width: $md1+px) {
			margin: 0px 0px 40px 0px;
		}

		@media (max-width: $md2+px) {
			flex: 0 1 50%;
			padding: 10px;
			margin: 0px 0px 30px 0px;
		}

		@media (max-width: $md3+px) {
			margin: 0px 0px 25px 0px;
		}

		@media (max-width: $md4+px) {
			margin: 0px 0px 15px 0px;
		}
	}

	// .category-aside__hot-news

	&__hot-news {
		margin: 0px 0px 50px 0px;

		@media (max-width: $md1+px) {
			margin: 0px 0px 40px 0px;
		}

		@media (max-width: $md2+px) {
			flex: 0 1 50%;
			padding: 10px;
			margin: 0px 0px 30px 0px;
		}

		@media (max-width: $md3+px) {
			margin: 0px 0px 25px 0px;
		}

		@media (max-width: $md4+px) {
			margin: 0px 0px 15px 0px;
		}
	}

	// .category-aside__most-popular

	&__most-popular {
		margin: 0px 0px 50px 0px;

		@media (max-width: $md1+px) {
			margin: 0px 0px 40px 0px;
		}

		@media (max-width: $md2+px) {
			flex: 0 1 50%;
			padding: 10px;
			margin: 0px 0px 30px 0px;
		}

		@media (max-width: $md3+px) {
			margin: 0px 0px 25px 0px;
		}

		@media (max-width: $md4+px) {
			margin: 0px 0px 15px 0px;
		}
	}

	// .category-aside__instagram

	&__instagram {

		@media (max-width: $md1+px) {
			margin: 0px 0px 40px 0px;
		}

		@media (max-width: $md2+px) {
			flex: 0 1 50%;
			padding: 10px;
			margin: 0px 0px 30px 0px;
		}

		@media (max-width: $md3+px) {
			margin: 0px 0px 25px 0px;
		}

		@media (max-width: 650px) {
			margin: 0px 0px 0px 0px;
		}
	}
}
.social-profile {

	// .social-profile__row

	&__row {
		display: flex;
		justify-content: space-between;
		text-align: center;
	}

	// .social-profile__item-link

	&__item-link {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 70px;
		height: 70px;
		color: #ffffff;
		font-size: 15px;
		margin: 0px 0px 5px 0px;
		transition: background-color .3s;

		&--blue {
			background-color: #3b5999;

			@media (min-width: $md2+px) {
				&:hover {
					background-color: #343b79;
				}
			}
		}
		&--light-blue {
			background-color: #55acee;

			@media (min-width: $md2+px) {
				&:hover {
					background-color: #4296d6;
				}
			}
		}
		&--red {
			background-color: #cd201f;

			@media (min-width: $md2+px) {
				&:hover {
					background-color: #B51515;
				}
			}
		}
		&--pink {
			background-color: #e4405f;

			@media (min-width: $md2+px) {
				&:hover {
					background-color: #BE2A45;
				}
			}
		}
	}

	// .social-profile__item-number

	&__item-number {
		font-size: 16px;
		font-weight: 600;
		letter-spacing: 0.02em;
		color: #222222;
		margin: 0px 0px 5px 0px;
	}

	// .social-profile__item-followers

	&__item-followers {
		font-size: 10px;
		font-weight: 600;
		letter-spacing: 0.02em;
		color: #666666;
	}
}
.subscribe {

	// .subscribe__body

	&__body {
		padding: 20px 15px;
		background-color: #fafafa;
	}

	// .subscribe__form

	&__form {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		margin: 0px 0px 10px 0px;
	}

	// .subscribe__form-label

	&__form-label {
		width: 100%;
		font-size: 14px;
		font-weight: 700;
		letter-spacing: 0.02em;
		color: #666666;
		margin: 0px 0px 15px 0px;
	}

	// .subscribe__form-input

	&__form-input {
		height: 40px;
		padding: 0px 16px;
		font-size: 12px;
		font-weight: 400;
		letter-spacing: 0.02em;
		color: #666666;
		border: 1px solid #dddddd;
	}

	// .subscribe__form-btn

	&__form-btn {
		padding: 0px 15px;
		margin: 0px 0px 0px -1px;
		height: 40px;
		font-size: 13px;
		font-weight: 700;
		letter-spacing: 0.02em;
		color: #ffffff;
		background-color: #00aeef;
		border: 1px solid #dddddd;
	}

	// .subscribe__warning

	&__warning {
		font-size: 12px;
		font-weight: 400;
		letter-spacing: 0.02em;
		color: #cccccc;
	}
}
.hot-news {

	// .hot-news__item

	&__item {
		
		margin: 0px 0px 10px 0px;

		&:last-child {
			margin: 0;
		}
	}
}
.most-popular {

	// .most-popular__item

	&__item {
		display: flex;
		margin: 0px 0px 20px 0px;
		padding: 0px 0px 20px 0px;
		border-bottom: 1px solid #dddddd;

		@media (max-width: $md4+px) {
			margin: 0px 0px 15px 0px;
			padding: 0px 0px 15px 0px;
		}

		&:last-child {
			margin: 0;
		}
	}
}
.instagram {

	// .instagram__row

	&__row {
		display: flex;
		flex-wrap: wrap;
		margin: -2.5px;
	}

	// .instagram__column

	&__column {
		flex: 0 1 33.333%;
		padding: 2.5px;
	}

	// .instagram__link

	&__link {
		position: relative;
		display: block;
		width: 100%;
		height: 110px;
		
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			height: 100%;
			width: 100%;
			opacity: 0;
			background: rgba(29, 27, 26, 0.70);
			transition: all .3s;

		}
		
		@media (min-width: $md2+px) {
			&:hover {
				&::before {
					opacity: 1;
				}
			}
		}
			
	}

	// .instagram__img

	&__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		background-color: #222222;
	}
}