.title {
	position: relative;
	font-size: 20px;
	line-height: 30px;
	font-weight: 700;
	letter-spacing: 0.02em;
	color: #222222;
	border-left: 5px solid #00aeef;
	padding: 0px 0px 0px 20px;
	margin: 0px 70px 35px 0px;
	overflow: hidden;

	&::after {
		content: "";
		position: absolute;
		bottom: 0;
		height: 1px;
		width: 100%;
		margin: 0px 0px 0px 20px;
		border-bottom: 1px solid #00aeef;
	}
}